nav {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #f8f8f8;
    padding-left: 60px;
    padding-right: 60px;
    z-index: 1;
    border-bottom: 1px solid #e8e8e8;
}

.logo {
    padding-top: 15px;
    font-size: 25px;
}

.logo img {
    width: 50px;
    border-radius: 100%;
    border: 1px solid #000000;
}

.menu {
    list-style: none;
    position: absolute;
    top: 4px;
    right: 40px;
}

.menu li {
    display: inline-block;
    padding-left: 20px;
    font-size: 20px;
}


.search-bar {
    position: absolute;;
    top: 120px;
    left: 150px;
}

input[type=text] {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 600px;
    
}
input[type=image] {
    position: relative;
    top: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
}