body {
    width: 100%;
}

nav {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #f8f8f8;
    padding-left: 60px;
    padding-right: 60px;
    z-index: 1;
    border-bottom: 1px solid #e8e8e8;
}

.logo {
    padding-top: 15px;
    font-size: 25px;
}

.logo img {
    width: 50px;
    border-radius: 100%;
    border: 1px solid #000000;
}

.menu {
    list-style: none;
    position: absolute;
    top: 4px;
    right: 40px;
}

.menu li {
    display: inline-block;
    padding-left: 20px;
    font-size: 20px;
}


.search-bar {

    top: 100px;
    left: 150px;
    position: absolute
}

input[type=text] {
    width: 100%;
    padding: 9px 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 600px;
    
}
input[type=image] {
    position: relative;
    top: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.pill-nav {
    list-style: none;
/*    position: relative;*/
    top: 170px;
    left: 110px;
    display: inline-block; 
    position: absolute
}

.pill-nav a {
    color: black;
}

.pill-nav li {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 9px 20px;
    float: left;
    margin: -1px;
 
}
.prev-range:before {
    content: "< ";
}
.next-range:after {
    content: " >";
}

.job-listings {
    list-style: none;
    top: 260px;
    left: 100px;
    position: absolute
}

.job-listings li {
    list-style: none;
    padding: 9px;
    color: #aaa;
}

.job-listings li a {
    font-weight: bold;
    color: dodgerblue;
    margin: 0 5px 0 5px;
}
.footer {
    position: absolute;
    bottom: 0;
    left: 30px;
    color: #1e1e1e;
    font-size: 13px;
}